<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de Artigo<Article></Article></h2>
        </div>
        <div class="card-body">
            <form  method="POST" action="/articles/update">
                <input type="hidden" value="<%= article.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo" value="<%= article.title %>"><br>
                <textarea class="form-control" placeholder="Escreva o artigo aqui!" name="body" id="article" ></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-control" id="">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId)  { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <%  } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <%  } %>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<div  id="content" style="display: none;">
    <%- article.body %>
</div>

<%-  include ('../../partials/footer.ejs'); %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

tinymce.init({
language: 'pt_BR',
  selector: '#article',  // change this value according to your HTML
  plugins: 'preview autolink advlist list image lists print hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
  init_instance_callback: () => {
    tinymce.activeEditor.setContent(document.getElementById('content').innerHTML);
  }
});

</script>